    {
      "title": "",
      "imageSrc": "",
      "genre": "",
      "type": "HTML",
      "link": "",
      "description": "",
      "status": [
        "Working",
        "This game has no issues :D"
      ],
      "date": "2025-11-10"
    },