.browser-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.browser-form {
  display: flex;
  padding: 10px;
}

.browser-input {
  flex-grow: 1;
  padding: 5px;
}

.browser-button {
  margin-left: 10px;
}

.browser-iframe {
  flex-grow: 1;
  border: none;
}
