.message-ticker {
    background-color: #28191193;
    color: rgb(223, 201, 151);
    padding: 5px 10px;
    border-bottom: 1px solid var(--md-sys-color-outline);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Consolas', 'Monaco', 'monospace';
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 10px);
    box-sizing: border-box;
    z-index: 10;
    backdrop-filter: blur(5px);
    margin: 5px;
    overflow: hidden;
}

.ticker-content {
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}